* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background: rgb(69, 66, 105);
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 7px solid pink;
}

button {
    background-color: rgb(255, 191, 212);
    border-radius: 40%;
    padding: 0.7rem;
    border: 3px solid rgb(255, 255, 255);
}
