html {
  font-size: 49.5%;
}

#button1 {
  margin: 20rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem solid rgb(158, 40, 148);
  color: rgb(156, 48, 48);
  font-size: 2.4rem;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  display: block;
}

#button2 {
  margin: 20rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem solid rgb(158, 40, 148);
  color: rgb(156, 48, 48);
  font-size: 2.4rem;
  border-radius: 1rem;
  display: inline-block;
}

#button3 {
  margin: 20rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.3rem solid rgb(127, 82, 163);
  color: white;
  font-size: 2.4rem;
  border-radius: 1rem;
  background: rgb(127, 82, 163);
}

#button1,
#button2,
#button3:hover {
    cursor: pointer;
}
